@font-face {
  font-family: Gotham Rounded;
  src: url(fonts/GothamRounded-Bold.2975c95e.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gotham Rounded;
  src: url(fonts/GothamRounded-LightItalic.dd426930.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Gotham Rounded Book;
  src: url(fonts/GothamRounded-BookItalic.08a01a5e.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Gotham Rounded Book;
  src: url(fonts/GothamRounded-Book.cf3f9929.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gotham Rounded;
  src: url(fonts/GothamRounded-Light.4b6767fc.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gotham XNarrow Book;
  src: url(fonts/GothamXNarrow-Book.d15795f8.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gotham XNarrow;
  src: url(fonts/GothamXNarrow-Bold.286b8306.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gotham Rounded;
  src: url(fonts/GothamRounded-Medium.5a73657d.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gotham XNarrow;
  src: url(fonts/GothamXNarrow-Medium.19a9041a.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ticket {
  color: #333;
  overscroll-behavior-y: contain;
}
.ticket {
    
  -webkit-font-smoothing: antialiased;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.ticket {
  font-family: Gotham Rounded;
}
.wrapper[data-v-55016032] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -4%;
}
.wrapper .texts[data-v-55016032] {
  margin-top: 17%;
}
.wrapper .texts span[data-v-55016032] {
  font-size: 92%;
}
.wrapper .texts span.bold[data-v-55016032] {
  font-weight: 400;
  margin-right: 5px;
}
.wrapper .texts span.thin[data-v-55016032] {
  font-family: Gotham Rounded Book;
}
.wrapper[data-v-4ea1fa2b] {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  border-right: none;
  border-left: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}
.wrapper img[data-v-4ea1fa2b] {
  margin: 0 9px;
}
.wrapper span.type[data-v-4ea1fa2b] {
  font-size: 17px;
  font-weight: 700;
}
.wrapper[data-v-269a0889] {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-top: -3%;
}
.wrapper .left[data-v-269a0889],
.wrapper .right[data-v-269a0889] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .text[data-v-269a0889] {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .text .title[data-v-269a0889] {
  font-size: 12px;
  font-family: Gotham Rounded Book;
  color: #666;
  margin-bottom: 5px;
}
.wrapper .text .value[data-v-269a0889] {
  font-size: 17px;
  font-weight: 400;
}
.wrapper .right .text[data-v-269a0889] {
  align-items: flex-end;
}
.wrapper .right img[data-v-269a0889] {
  margin-left: 5px;
  align-self: flex-end;
}
.wrapper .status[data-v-269a0889] {
  margin-right: 5px;
}
.wrapper[data-v-b1f5c07c] {
  width: 100%;
  height: 120px;
  margin-top: 25px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  overflow: hidden;
}
.wrapper.svgspin[data-v-b1f5c07c] {
  background-image: url(../img/spinner.8b1ff0a4.svg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.wrapper .overlay[data-v-b1f5c07c] {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .overlay .area[data-v-b1f5c07c] {
  font-size: 73px;
  font-weight: 700;
  margin-bottom: -4%;
}
.wrapper .overlay .link[data-v-b1f5c07c] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .overlay .link img[data-v-b1f5c07c] {
  margin-right: 5px;
}
.wrapper .overlay .link span[data-v-b1f5c07c] {
  margin-bottom: 2%;
  font-size: 100%;
  color: #000;
}
.wrapper .overlay .link[data-v-b1f5c07c]:active {
  opacity: 0.25;
}
.daddy[data-v-33858eaa] {
  position: relative;
  margin-bottom: 15px;
}
.daddy .content[data-v-33858eaa] {
  width: 100%;
  height: 100%;
  z-index: 11;
  position: absolute;
}
.daddy .bg-img[data-v-33858eaa] {
  width: 100%;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.1));
}
.parent[data-v-5087c61f] {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.parent .qr[data-v-5087c61f] {
  flex: 1;
}
.qr {
  margin-top: 4%;
  width: 45%;
  height: 45%;
}