@font-face {
    font-family: Gotham Rounded;
    src: url(../fonts/GothamRounded-Bold.2975c95e.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Gotham Rounded Book;
    src: url(../fonts/GothamRounded-Book.cf3f9929.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Gotham Rounded;
    src: url(../fonts/GothamRounded-Light.4b6767fc.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Gotham Rounded;
    src: url(../fonts/GothamRounded-Medium.5a73657d.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #343434;
    width: 100%;
    overflow: auto;
}

html {}

body {
    min-width: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    position: absolute;
    overflow: auto;
    width: 100%;
}

.main {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

.title {
    margin-top: 0.1em;
    text-align: center;
    font-size: calc(16px + 10vw);
    font-family: Gotham Rounded;
    color: #eee;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    width: 100%;
    overflow: auto;
    margin-bottom: 2vh;
}

.example {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 1vw;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 2vh;
    box-shadow: 6px 6px #1c1c1c;
}

th,
td {
    background-color: #242424;
    font-family: Gotham Rounded;
    color: #fff;
    font-size: calc(8px + 3vw);
    margin-bottom: 1%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    min-width: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

th {
    text-align: center;
}

th:hover,
td:hover {
    background-color: #181818;
    transition: 0.2s;
    -webkit-transition: 0.2s;
}

#card {
    margin-top: 2em;
    display: flex;
    font-family: Gotham Rounded;
    color: #eee;
    font-size: calc(16px + 0.5vw);
    overflow: auto
}

.colorinfo {
    margin: 0 auto;
    margin-bottom: 1rem;
    min-width: 0px;
    height: 100%;
    width: auto;
}

.nein {
    display: inline-flex;
    flex-direction: row;
    margin: 0.5vw;
    white-space: nowrap;
    order: -1;
}

.zwiebelen {
    display: flex;
    flex-direction: column;
}

.spacer {
    width: 10vw;
    min-width: 20px;
    max-width: 70px;
}

.nein div:not(:last-child) {
    margin-bottom: 2vh;
}